* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {display: block;}

html {
	font-size: 24px;
}		
body {
	background-color: #030a0b;
	color: #98e0ea;
}

.art-images{width: 35%;}

.art-images img {
	
	width: 100%;
	height: auto;
	min-width: 50px;
	border: 5px solid #434343;
}

.container {
	display: grid;
	grid-auto-flow: column;
}
.highlight {
	color: #b477d3;
}
.box {
	background-color: #000;
	color: #edb05d;
	font-size: 2rem;
	padding: 0.5rem;
	
	display: grid;
	align-content: center;
	justify-content: center;
}